.table {
  /* margin-left: 50px; */
}

.bg-header {
  background-color: white;
}
.header-text-custom {
  background-color: white;
}
thead tr {
  color: rgba(6, 6, 6, 0.201);
}
thead {
  background-color: white;
  color: white;
  background: white;
}
.yo {
  height: 61px;
  overflow: clip;
  white-space: break-spaces;
  text-overflow: " ...";
  font-size: 10px;
}

.display-row {
  margin: auto;
  padding: 10px;

  /* border: 1px solid black; */
}

td span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tableWrap {
  display: block;
  max-width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  /* border-bottom: 1px solid black; */
}

body {
  overflow-x: hidden;
  max-width: 100%;
}

@media only screen and (max-width: 500px) {
  .button-container {
    display: contents;
  }
}
