.table {
  margin-left: 50px;
}

.bg-header {
  background-color: white;
}
.header-text-custom {
  background-color: white;
}
thead tr {
  color: rgba(6, 6, 6, 0.201);
}
thead {
  background-color: white;
  color: white;
  background: white;
}
