.card {
  margin: 10px;
}

.card-title {
  font-size: clamp(1rem, 2vw, 2.5rem);
  color: gray;
  margin: 1px;

  /* font-size: 1rem; */
}

.profile__container {
  display: flex;
  flex-flow: column;
  align-items: left;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}

.profile__wrapper {
  position: relative;
  margin: 10px;
}
