.center-page {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.card-center-title {
  color: #fff;
  text-align: center;
}

.card-sub-title {
  color: #adaeb2;
  text-align: center;
}

.form-group-styles {
  color: #adaeb2;
}

.link-style {
  text-decoration: none;
}

.toast-display-center {
  display: flex;
  justify-content: center;
  padding: 0px 0px 0px 300px;
  transition: all 1s ease;
}

@media (max-width: 976px) {
  .toast-display-center {
    display: flex;
    justify-content: center;
    padding: 0px 0px 0px 0px;
    transition: all 1s ease;
  }
}
