.row {
  justify-content: center;
  align-items: center;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-container {
  padding-left: 300px;
  transition: all 1s ease;
}
.graph-container {
  border-radius: 15px;
  box-shadow: 2.5px 5px #404eed;
  height: 45vh;
  width: 35vw;
  min-height: 500px;
  max-height: 600px;
  min-width: 525px;
  max-width: 600px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  background: gainsboro;
  position: relative;
  flex-direction: column;
  margin: 10px auto;
  transition: all 1s ease;
}

.bar-graph {
  padding: 10px;
}

.pie-chart {
  padding: 80px;
}

/* Responsive */
@media (min-width: 0px) and (max-width: 455px) {
  .graph-container {
    border-radius: 15px;
    box-shadow: 2.5px 5px #404eed;
    height: 45vh;
    width: 35vw;
    min-height: 500px;
    max-height: 600px;
    min-width: 340px;
    max-width: 600px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    background: gainsboro;
    position: relative;
    flex-direction: column;
    margin: 10px auto;
    transition: all 1s ease;
  }

  .page-container {
    padding-left: 0px;
  }
  .pie-chart {
    margin: auto;
    padding: 20px;
  }
  body {
    /* background-color: orange; */
  }
}

@media (min-width: 456px) and (max-width: 557px) {
  .graph-container {
    border-radius: 15px;
    box-shadow: 2.5px 5px #404eed;
    height: 45vh;
    width: 35vw;
    min-height: 500px;
    max-height: 600px;
    min-width: 340px;
    max-width: 600px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    background: gainsboro;
    position: relative;
    flex-direction: column;
    margin: 10px auto;
    transition: all 1s ease;
  }
  .page-container {
    padding-left: 0px;
  }
  .pie-chart {
    margin: auto;
    padding: 20px;
  }
  body {
    /* background-color: grey; */
  }
}

@media (min-width: 558px) and (max-width: 590px) {
  .graph-container {
    border-radius: 15px;
    box-shadow: 2.5px 5px #404eed;
    height: 45vh;
    width: 35vw;
    min-height: 500px;
    max-height: 600px;
    min-width: 525px;
    max-width: 600px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    background: gainsboro;
    position: relative;
    flex-direction: column;
    margin: 10px auto;
    transition: all 1s ease;
  }

  .page-container {
    padding-left: 0px;
    transition: all 1s ease;
  }
}
@media (min-width: 591px) and (max-width: 976px) {
  .graph-container {
    border-radius: 15px;
    box-shadow: 2.5px 5px #404eed;
    height: 45vh;
    width: 35vw;
    min-height: 500px;
    max-height: 600px;
    min-width: 525px;
    max-width: 600px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    background: gainsboro;
    position: relative;
    flex-direction: column;
    margin: 10px auto;
    transition: all 1s ease;
  }

  .page-container {
    padding-left: 0px;
    transition: all 1s ease;
  }
}
